#slider {
	width: 500px;
	height: 300px;
	margin: 0 auto;
	display: flex;
}

.album {
	width: 80%;
	position: relative;
}

.album img {
	width: 100%;
	position: absolute;
	display: none;
}

.album img.current {
	display: block;
}

#slider a {
	text-decoration: none;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #383838FF;
	font-size: 25px;
	font-weight: 700;
	font-family: Arial;
}

#slider a:hover {
	background: linear-gradient(45deg, rgba(142, 142, 142, .4), rgba(94, 94, 94, .4));
}